.wrap {
    display: flex;
    width: 100%;
    height: 100%;
  background-color: rgb(29, 36, 50);

}
.wrap_btn {
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    background-color: #1e1e1e;
    height: 100vh;
    width: 150px;
}
* {box-sizing: border-box}
        
/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background-color: rgb(29, 36, 50);
  
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 100%;
  text-decoration: none;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: block;
  padding: 10px 20px;
  width: 100%;
  height: fit-content;
  color: white;
}


#Home {background-color: rgba(0, 0, 0, 0.1);}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}
/* Dashboard */
.dashboard {
    margin: 20px auto;
    max-width: 1200px;
}

.dashboard h2 {
    margin-bottom: 20px;
}

.filter-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#search-bar {
    width: 100px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

select {
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    
}

.exercise-list {
    display: flex;
    flex-wrap: wrap;
}

.exercise-card {
    /* background-color: #fff; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: calc(33.333% - 20px);
}

.exercise-card h3 {
    margin-bottom: 10px;
}

.exercise-card p {
    margin-bottom: 5px;
}

/* Code Editor */
.code-editor {
    margin: 20px auto;
    max-width: 1000px;
    gap: 10px ;
}.code-editor h2  , p {
    padding-bottom: 10px;
}
.editor-container {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.code-area {
    width: 100%;
    height: 500px;
    background-color: #1e1e1e;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    font-family: monospace;
    font-size: 16px;
}

.editor-buttons {
    display: flex;
    justify-content: space-between;
}

.editor-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
}

.editor-buttons button:hover {
    background-color: #0056b3;
}

/* Submission Results */
#submission-results {
    margin: 50px auto;
    max-width: 800px;
    display: none;
}

#submission-results h2 {
    margin-bottom: 20px;
}

.status {
    font-weight: bold;
}

.status.success {
    color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    color: black;
}

table th {
    background-color: #f4f4f4;
}

table td {
    background-color: #fff;
}

.submit {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #28a745;
    color: #000000;
}

.submit:hover {
    background-color: #218838;
}
.result {
    background-color: rgb(18,20,24);
    padding: 10px;
}
.wrap_darboard {
    display: flex;
}
.left_board {
    width: 40%;
    overflow-y: auto;
    max-height: 700px;

}
.right_board {
    margin-left: 20px;
    width: 60%;
    overflow-y: auto;
    max-height: 700px;
}
code {
    text-align: left;
}

  /* Set a style for all buttons */
  .login_btn {
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .login_btn:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    /* background-color: #0056b3; */
    
  }
  .btn_login {
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: #218838;
  }
  .btn_login:hover {
    background-color: #6bb57bee;
  }
  .psw {
    float: right;
    padding-top: 16px;
    color: #f4f4f4;
  }
  .psw a {
    color: #f4f4f4;
    text-decoration: none;
  }
  .wrap_Login , .wrap_Introduce {
    height: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 form {
    width: 700px;
 }
 .noPadding {
        padding: 0;
    }
.wrap_Introduce {
    flex-direction: column;
}
.wrap_Introduce h3 {
    font-size: 48px;
}
.wrap_Introduce p {
    max-width: 800px;
    font-size: 20px;
    margin-top: 20px;
    word-spacing: 2px;
    text-align: center;
    word-break: break-all;
}
.Introduce_btn {
    border-radius: 16px;
    height: 50px;
    width: 150px;
}
